.popup__button {
  width: 358px;
  height: 50px;
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 29px;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: 300ms;
  border-radius: 2px;
}

.popup__button:hover {
  opacity: .8;
}

.popup__button:disabled {
  background-color: white;
  cursor: initial;
  border: 1px solid rgba(196, 196, 196, 1);
  color: rgba(196, 196, 196, 1);
}

.popup__button:hover {
  opacity: initial;
}

@media all and (max-width: 670px) {
  .popup__button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 45px;
  }
}
