.popup__field-to-fill {
  width: 358px;
  height: 27px;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 0 5px;
}

.popup__field-to-fill:last-of-type {
  margin-top: 25px;
}

.popup__field-to-fill::placeholder {
  color: black;
}

@media all and (max-width: 670px) {
  .popup__field-to-fill {
    font-size: 14px;
    line-height: 17px;
    width: 238px;
    height: 27px;
  }
}
