.card__like-button {
  background-color: transparent;
  background-image: url(../../../images/like-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  height: 19px;
  margin: 22px 0 0;
  transition: 0.3s;
  width: 23px;
  padding: 0;
  background-position: center;
  align-self: center;
}

.card__like-button:hover {
  opacity: 0.5;
}
