.card__like-button {
  margin-right: 20px;
  width: 22px;
  height: 19px;
  align-self: center;
  background-image: url(../../../images/like-icon.svg);
  background-size: contain;
  box-sizing: border-box;
  background-color: white;
  background-repeat: no-repeat;
  border: none;
  transition: 300ms;
}

.card__like-button:hover {
  opacity: .5;
}
