.card__delete-button {
  background-image: url(../../../images/delete-button.svg);
  position: absolute;
  height: 19.3px;
  width: 18px;
  top: 18px;
  right: 15px;
  background-color: transparent;
  padding: 0;
  border: none;
  transition: all 200ms ease-in-out;
  opacity: 0;
  cursor: pointer;
  display: none;
}

.card__delete-button_active {
  display: initial;
}

.card__delete-button:hover {
  opacity: .6 !important;
}

@media all and (max-width: 1024px) {
  .card__delete-button {
    opacity: 1;
  }
}
