.profile__description {
  font-size: 18px;
  line-height: 1.22;
  margin: 0;
  margin-top: 15px;
}

@media all and (max-width: 990px) {
  .profile__description {
    font-size: 12px;
    line-height: 1.22;
    margin-top: 10px;
  }
}

@media all and (max-width: 670px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 36px;
  }
}
