.popup__container {
  width: 430px;
  background-color: white;
  border-radius: 10px;
  margin: auto;
  padding: 36px;
  box-sizing: border-box;
  position: relative;
}

@media all and (max-width: 670px) {
  .popup__container {
    width: 282px;
    padding-left: 22px;
    padding-bottom: 25px;
  }
}
