.popup__field-to-fill {
  position: relative;
  width: 358px;
  height: 27px;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid rgba(196, 196, 196, 1);
  padding: 0 0 5px;
}

.popup__field-to-fill_invalid {
  border-bottom: 1px solid rgba(255, 0, 0, 1);
}

.popup__field-to-fill::placeholder {
  color: rgba(196, 196, 196, 1);
}

@media all and (max-width: 670px) {
  .popup__field-to-fill {
    font-size: 14px;
    line-height: 17px;
    width: 238px;
    height: 27px;
  }
}
