/* .profile__plus-button {
  background-image: url(../../../images/plus-add-button.svg);
  height: 22px;
  width: 22px;
  margin: auto;
}

@media all and (max-width: 670px) {
  .profile__plus-button {
    height: 16px;
    width: 16px;
  }
} */
